In [93]:
import pandas as pd
import pickle
import re

In [94]:
with open('PDFs_reported_sighted_at.pickle', 'rb') as handle:
    df = pickle.load(handle)
    df['description'] = ''

In [86]:
keywords = ['description', 'remarks', 'objects', 'aerial']

for index,row in df.iterrows():
    description = ''
    row_text = str(row['text']).lower()
    row_text = row_text.replace('  ', ' ').replace('\n', '.')
    df.loc[index,'text'] = row_text
    
    for word in keywords:
        if word in row_text:
            pattern = "(.*){}(.*)".format(word)
            match = re.match(pattern, row_text, re.IGNORECASE)
            if match:
                if match.group(2):
                    description = word + match.group(2)
                    break
    df.loc[index,'description'] = description

In [88]:
df.head(5)

,Captions,Class,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,URL,...,text,location,date,lat,lon,named_entities,DATE,reported_at,sighted_at,description
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"k. nearby objects.(telephone lines, high volta...","RAF, Turnhouse Road, Dolphington Cottages, Ing...",,55.9516,-3.34694,"[(u'TITLE', u'river'), (u'CAUSE_OF_DEATH', u'f...",MAY,,MAY,remarks.date zih?z>31j- sqn 0 af ops.. 1.copie...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,report of an unidentified flying object.. ..da...,"Time, Telegraph Road, Woodchurch, Wirral, Nort...",,53.3287,-3.10015,"[(u'ORGANIZATION', u'Time'), (u'NUMBER', u'27,...",,,,"description of object.(humber of obecta, size,..."
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,k. m:nm objects - lewga 7 ( ' .(telephone line...,,,,,"[(u'NUMBER', u'7'), (u'PERCENT', u'20 % 15W'),...",MAY,MAY,1835,remarks [nona ngzandd -.' a mm @515 m.. .. .. ...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,reply to:..r... . . . . ..\( ...yorkshire ufo ...,"Bedfordshire, Church End Road, Haynes, Central...",,52.064,-0.411114,"[(u'ORGANIZATION', u'Yorkshire UFO Societi'), ...",28th September,28th September,23rd July,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"w ' . \',....\ r. , _ ~ \-_ _ ._"":'..-\-'.""-.....",,,,,"[(u'NUMBER', u'\\'), (u'NUMBER', u'_ _'), (u'N...",,,,

In [90]:
df.to_csv('PDFs_description.csv', index=False, encoding='utf-8')