In [35]:
import pandas as pd

In [36]:
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

In [37]:
pa1_df = pd.read_csv('../ufo_dataset_initial.csv')

In [38]:
len(pa1_df)

38439

In [39]:
[str(x) for x in pa1_df.columns]

['id',
 'description',
 'duration',
 'location',
 'reported_at',
 'shape',
 'sighted_at',
 'geocoded_latitude',
 'geocoded_longitude',
 'city',
 'state',
 'country',
 'closest_LARGE_airport_distance',
 'closest_MEDIUM_airport_distance',
 'closest_SMALL_airport_distance',
 'closest_metro_distance',
 'closest_metro_pop',
 'closest_metro_m4',
 'closest_metro_m6',
 'population',
 'meteor_sighting']

In [40]:
pa2_df = pd.read_csv('PA2_UFO_sightings.csv')

In [41]:
[str(x) for x in pa2_df.columns]

['id',
 'text',
 'location',
 'lat',
 'lon',
 'named_entities',
 'date',
 'reported_at',
 'sighted_at',
 'description',
 'duration',
 'Country',
 'URL',
 'Captions',
 'Class',
 'Class_1',
 'Class_2',
 'Class_3',
 'Class_4',
 'Class_5',
 'Class_6',
 'Class_7',
 'shape']

In [42]:
set([str(x) for x in pa2_df.columns]).intersection(set([str(x) for x in pa1_df.columns]))

{'description',
 'duration',
 'id',
 'location',
 'reported_at',
 'shape',
 'sighted_at'}

In [43]:
merged_df = pa1_df.merge(pa2_df, on=['description','duration','id','location','reported_at','shape','sighted_at'], how='outer')

In [44]:
len(merged_df)

41972

In [45]:
len(pa1_df) + len(pa2_df)

41972

In [46]:
merged_df.sample(5)

,id,description,duration,location,reported_at,shape,sighted_at,geocoded_latitude,geocoded_longitude,city,...,URL,Captions,Class,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7
41365,950,Fireball moved across the sky. object looked l...,NaN,NaN,NaN,cross,NaN,NaN,NaN,NaN,...,http://www.mufoncms.com/files_jeud8334j/86242_...,a black and white photo of a clock tower .,"['nematode, nematode worm, roundworm']",nematode,nematode worm,roundworm,NaN,NaN,NaN,NaN
9945,15212,"Object seen in Pulaski, WI that changed shapes...",5 minutes,"Pulaski, WI",20020409,changing,20020408,44.672216,-88.242603,Pulaski,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36402,57987,I was at a park at about 1 PM. I was on the sw...,10 minuts,"Louisville, CO",20100214,light,20090704,39.977763,-105.131930,Louisville,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32957,52591,"Observed unusual bright, red/orange light hove...",15 minutes,"New Braunfels, TX",20090218,light,20090205,29.702827,-98.125735,New Braunfels,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15515,24797,"If anyone around us has a chance, this is happ...",of and on 4 days,"Las Vegas, NV",20040318,light,20040314,36.166286,-115.149225,Las Vegas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
merged_df.columns

Index([u'id', u'description', u'duration', u'location', u'reported_at',
       u'shape', u'sighted_at', u'geocoded_latitude', u'geocoded_longitude',
       u'city', u'state', u'country', u'closest_LARGE_airport_distance',
       u'closest_MEDIUM_airport_distance', u'closest_SMALL_airport_distance',
       u'closest_metro_distance', u'closest_metro_pop', u'closest_metro_m4',
       u'closest_metro_m6', u'population', u'meteor_sighting', u'text', u'lat',
       u'lon', u'named_entities', u'date', u'Country', u'URL', u'Captions',
       u'Class', u'Class_1', u'Class_2', u'Class_3', u'Class_4', u'Class_5',
       u'Class_6', u'Class_7'],
      dtype='object')

In [48]:
merged_df.to_csv('UFO_sightings.csv', index=False)

In [49]:
len(pd.read_csv('UFO_sightings.csv'))

41972

In [50]:
merged_df.to_csv('UFO_sightings.tsv', index=False, sep='\t')